@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

:root {
    --fonte1: Verdana, Geneva, Tahoma, sans-serif;
    --fonte2: 'Passion One', cursive;
    --fonte3: 'Sriracha', cursive;
}

* {
    margin: 0px;
    padding: 0px;
}

html, body {
    min-height: 100vh;
    background-color: darkgrey;
    font-family: var(--fonte1);
    font-size: 1.3em;
}

header {
    background-color: black;
    color: white;
    text-align: center;
}

header > h1 {
    padding-top: 50px;
    font-variant: small-caps;
    font-family: var(--fonte2);
    font-size: 7vw;
}

header > p {
    padding-bottom: 50px;
    font-size: 0.6em;
}

a {
    text-decoration: none;
    color: white;
    font-weight: bolder;
}

a:hover {
    text-decoration: underline;
    color: rgb(126, 226, 158);
}

section {
    padding-top: 15vh;
    padding-bottom: 15vh;
    padding-left: 30px;
    line-height: 2em;
    font-family: var(--fonte3);
    font-size: 2.3vw;
}

section > p {
    padding-bottom: 2em;
}

section.imagem > p {
    background-color: rgba(0, 0, 0, 0.322);
    display: inline-block;
    padding: 7px;
    text-shadow: 1px 1px 0px black;
}

section.normal {
    background-color: white;

}

section.imagem {
    background-color: rgb(68, 68, 68);
    color: white;
    box-shadow: inset 6px 6px 13px 0px rgba(39, 39, 39, 0.753);
    background-size: cover;
    background-attachment: fixed;
}

section#img01 {
    background-image: url(../imagens/background001.jpg);
    
}

section#img02 {
    background-image: url(../imagens/background002.jpg);
    background-position: right bottom;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 8px;

}

footer > p {
    font-size: 0.5em;
}