@charset "UTF-8;"

body {  
}

h1 {
    color: darkblue;
    background-color: chocolate;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

h2 {
    color: darkred;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

p {
    text-align: justify;
}